body
{
font-family:arial, verdana, helvetica;
color:black;
font-size:14px;
background-color:#F0FFFF;
}
a:link
{
color:#black;
}
a:visited
{
color:purple;
}

table
{
font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
font-size: 100%;
width:100%;
}

td.center
{
text-align:center;
}

table.center
{
margin-left: auto;
margin-right: auto;
}

th
{
	background-color:#6699FF;
	color:white;
}
td
{
padding:3px;
}
th.width

{
width:93px;
}

tr.background-custom
{
	background-color:#B2DFEE;
}
